<%- include("partials/header.ejs") %>
<h2 class="searchtitle">Search Results</h2>
<div class="search-div">
  <% allbooks.forEach(book => { %>
  <div class="card">
    <div class="first-content">
      <span><img src="<%= book.image %>" width="130" /></span>
    </div>
    <div class="second-content">
      <span>
        <h3><%= book.title %></h3>
        <h3>Author:<%= book.author%></h3>
        <p>Publish date:<%=book.date%></p>
        <form action="/addtofav" method="get">
          <input type="hidden" name="id" value="<%=book.id %>" />
          <input type="hidden" name="title" value="<%=book.title %>" />
          <input type="hidden" name="author" value="<%=book.author %>" />
          <input type="hidden" name="image" value="<%= book.image %>" />
          <button class="bookmarkBtn" type="submit">
            <span class="IconContainer">
              <svg viewBox="0 0 384 512" height="0.9em" class="icon">
                <path
                  d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"
                ></path>
              </svg>
            </span>
            <p class="text">Add to wishlist</p>
          </button>
        </form>
      </span>
    </div>
  </div>
  <% }); %>
</div>
