<%- include("partials/header.ejs") %>
<h2>Your Wishlist</h2>
<% books.forEach(book => { %>
  <div>
    <img src="<%= book.image %>" width="100">
    <h3><%= book.title %></h3>
    <p>Author: <%= book.author %></p>
    <p>Score: <%= book.score %></p>
    <p>Why you liked it: <%= book.reason %></p>
    <p>Would recommend: <%= book.recommend %></p>
  </div>
<% }); %>

